{% extends 'base.html' %}
{% load static %}
{% block title %}
    cart
{% endblock title %}
{% block styles %}
<style>
    th , td {
        padding: 10px;
        text-align: center;
    }
    th{
        padding: 15px;
        margin-left: 5px;
    }
   
</style>

{% endblock styles %}
{% block content %}
<h1>cart detail</h1>
    <table>
        <tr>
            <th>Product image</th>
            <th>Product title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
           
      
            
            
        </tr>
        {% for key,values in cart.items %}
            <tr>
                <td><img src="{{values.product.image.url}}" alt="" width="150"></td>
                <td><a href="{{ values.product.get_absolute_url }}">{{values.product.title}}</a></td>
                <td>{{values.price}}</td>

                <td>
                    <div class="add-to-cart">
                        <form method="POST" action="{% url 'shop:add_to_cart'%}">
                            <div class="qty-label">
                                <div class="input-number">
                                    <input type="number" name="quantity" value="{{values.quantity}}">
                                    <input type="hidden" name="product_id" value="{{values.product.id}}">
                                    <button  class="qty-up">+</button>
                                    <button class="qty-down">-</button>
                                </div>
                            </div>
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Update</button>
                            {%csrf_token%}
                        </form>
                    </div>
                </td>
                <td>{{values.TotalPrice}}</td>
                <td><a href="{% url 'shop:remove_from_cart' product_id=values.product.id %}">remove</a></td>
            </tr>
            {% endfor %}
            
            <p>{{FinalPrice}}</p>
    </table>
{% endblock content %}